body {
  background-color: #bbd2c5;
  margin: 0;
  padding: 0;
}
.container {
  text-align: center;
}
h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: goldenrod;
  margin-right: 100px;
}

#inputField {
  width: 270px;
  height: 25px;
  outline: none;
  border-radius: 8px;
  font-size: large;
  color: rgb(61, 79, 180);
}
#inputField:hover {
  border: 2px solid rgb(142, 135, 230);
}

#addButton {
  color: goldenrod;
  width: 100px;
}
#toDoContainer {
  display: grid;
  grid-template-columns: 150px 80px 80px;
  justify-content: center;
  margin-top: 35px;
}
#toDoContainer > #toDo {
  margin-bottom: 30px;
  border: 2px solid whitesmoke;
  border-radius: 8px;
  font-size: medium;
  color: rgb(162, 190, 226);
  height: 25px;
  margin-right: 5px;
  outline: none;
}
#toDoContainer > #edit {
  margin-bottom: 30px;
  color: rgb(31, 214, 31);
  margin-right: 5px;
}
#toDoContainer > #delete {
  margin-bottom: 30px;
  color: red;
}
button {
  cursor: pointer;
  border: 2px solid whitesmoke;
  border-radius: 8px;
  font-size: large;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
